openapi: 3.0.0
info:
  title: Ripio Trade - API Documentation Book Orders API
  version: v4.0
  description: "Welcome to the Ripio Trade API documentation.\n\n### Version\nThis API is currently in the version 4.\n\nIf there is need for any big change, a new version will be launched and this version will be maintained for at least 3 months.\n\nIf you're still using the version 3, [access the old documentation](../v3) and check the [migration guide](#tag/V3-Endpoint-Migrations).\n\n### Important\nUse the `Market` endpoints for all trading operations. The `Public` endpoints have a delay (cache) of up to 30 seconds.\n\nAll successful requests will result in a 200 HTTP Status.\n\nAll requests returns data in JSON format (application/json) and have a default body:\n\n\n### Success\n```\n{\n  \"error_code\": null,\n  \"message\": null,\n  \"data\": { }\n}\n```\n\n### Error\n```\n{\n  \"error_code\": [Error code],\n  \"message\": \"Error description\",\n  \"data\": null\n}\n```\n\n\nEndpoints that have a date filter will return data for the last 6 months if no value is sent in the `start_date` parameter.\n\n### URL structure\nThe endpoints URL follow this pattern:\n\n`https://api.ripiotrade.co/{version}/{method}[/{parameter}][?parameter=value...]`\n\n `https://api.ripiotrade.co/v4/tickers/BTC_BRL`\n\n### Limits\n\nThe request limits are based on the user's operational limits.\n\nThere are two types of limit, one of requests per second and another of daily requests. Both of them should be taken in consideration and the requests should be balanced so the daily limit isn't reached.\n\nUsers **without approved documentation** have 1 request per second or 86.400 daily requests.\n\nUsers **with approved documentation** have 3.5 requests per second or 302.400 daily requests.\n\nThese limits can be increased, and the support team should be contacted for that.\n\nWhen the requests per second limit is reached, the response HTTP Status returned is 429 and the response body is:\n```\n{\n  \"message\": \"Too many requests\"\n}\n```\n\nWhen the daily requests limit is reached, the response HTTP Status returned is 429 and the response body is:\n```\n{\n  \"message\": \"Limit Exceeded\"\n}\n```"
  contact:
    name: Jorn Filho
  x-logo:
    url: https://trade-images.ripio.com/general_images/logo-ripio.png
    href: '#'
servers:
- url: https://api.ripiotrade.co/v4/
tags:
- name: Orders
paths:
  /trades:
    get:
      operationId: GetTrades
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorTradesResponse'
      description: Lists the trades history based on the filtering criteria.
      summary: Trades
      tags:
      - Orders
      security:
      - API Credentials:
        - Read
      parameters:
      - description: Currency pair code
        in: query
        name: pair
        required: true
        schema:
          type: string
        example: BTC_BRL
      - in: query
        name: start_time
        required: false
        schema:
          $ref: '#/components/schemas/StartDateTimeNoMinParamV4'
      - in: query
        name: end_time
        required: false
        schema:
          $ref: '#/components/schemas/EndDateTimeNoMinParamV4'
      - in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSizeParamV4'
      - description: The `c` parameter is the cursor you should use to fetch the next page of results
        in: query
        name: c
        required: false
        schema:
          type: string
      x-mcp:
        enabled: true
        name: get_trades_history
        usage: '- To get authenticated user trades history for a trading pair

          - To analyze user-specific market activity and trading patterns

          - For tracking personal trading volume and performance'
  /orders:
    get:
      operationId: GetUserOrders
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrdersResponseV4'
      description: Lists the user's orders.
      summary: User Orders
      tags:
      - Orders
      security:
      - API Credentials:
        - Read
      parameters:
      - description: Currency pair code
        in: query
        name: pair
        required: true
        schema:
          type: string
        example: BTC_BRL
      - in: query
        name: status
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OrderStatusParamV4'
      - in: query
        name: side
        required: false
        schema:
          $ref: '#/components/schemas/OrderSideParamV4'
      - in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/OrderTypeParamV4'
      - in: query
        name: ids
        required: false
        schema:
          $ref: '#/components/schemas/OrderIdsParamV4'
      - in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/StartDateParamV4'
      - in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/EndDateParamV4'
      - in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSizeParamV4'
      - in: query
        name: current_page
        required: false
        schema:
          $ref: '#/components/schemas/CurrentPageParamV4'
      - description: The `c` parameter is the cursor you should use to fetch the next page of results
        in: query
        name: c
        required: false
        schema:
          type: string
      x-mcp:
        enabled: true
        name: get_user_orders
        usage: '- To list all orders for a specific trading pair

          - To filter orders by status, side, type, or date range

          - To retrieve order history with pagination support'
    post:
      operationId: CreateOrder
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
      description: 'Creates a new order.


        Publishes updates in the following websocket topics: [`trade`](#operation/trade) (if there is a trade), [`orderbook`](#operation/orderbook), [`balance`](#operation/balance) and [`order_status`](#operation/order_status).'
      summary: Create Order
      tags:
      - Orders
      security:
      - API Credentials:
        - Buy/Sell
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/LimitBuyOrderBody'
              - $ref: '#/components/schemas/LimitSellOrderBody'
              - $ref: '#/components/schemas/MarketBuyOrderBody'
              - $ref: '#/components/schemas/MarketSellOrderBody'
              - $ref: '#/components/schemas/StopLimitBuyOrderBody'
              - $ref: '#/components/schemas/StopLimitSellOrderBody'
              - $ref: '#/components/schemas/TrailingBuyOrderBody'
              - $ref: '#/components/schemas/TrailingSellOrderBody'
              - $ref: '#/components/schemas/CeilingBuyOrderBody'
              - $ref: '#/components/schemas/CeilingSellOrderBody'
              - $ref: '#/components/schemas/IcebergBuyOrderBody'
              - $ref: '#/components/schemas/IcebergSellOrderBody'
      x-mcp:
        enabled: true
        name: create_order
        usage: '- To place buy or sell orders on trading pairs

          - To create limit, market, stop-limit, trailing, ceiling, or iceberg orders

          - To execute trading strategies with various order types and parameters'
    delete:
      operationId: CancelOrder
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
      description: 'Cancels an active order by its `id`.


        Publishes updates in the following websocket topics: [`orderbook`](#operation/orderbook), [`balance`](#operation/balance) and [`order_status`](#operation/order_status).'
      summary: Cancel Order
      tags:
      - Orders
      security:
      - API Credentials:
        - Buy/Sell
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
                  description: Order `id`
                  example: 7155ED34-9EC4-4733-8B32-1E4319CB662F
              required:
              - id
              type: object
      x-mcp:
        enabled: true
        name: cancel_order
        usage: '- To cancel an active order using its order ID

          - To stop pending orders from executing

          - To manage order lifecycle and risk control'
    put:
      operationId: UpdatePriceAmountOrderOnMarket
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidResponse'
      description: 'Allows update the amount and/or price of an order, it is not possible to change a canceled or fully executed order.


        Publishes updates in the following websocket topics: [`orderbook`](#operation/orderbook), and [`balance`](#operation/balance).'
      summary: Update the amount and/or price of an order
      tags:
      - Orders
      security:
      - API Credentials:
        - Read
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdatePriceAmountOrderOnMarketBody'
      x-mcp:
        enabled: true
        name: update_order_price_amount
        usage: '- To modify the price and/or amount of an existing active order

          - To adjust order parameters without canceling and recreating

          - To optimize order execution by updating terms'
  /orders/open:
    get:
      operationId: GetUserOpenOrders
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOpenOrdersResponseV4'
      description: Lists the user's open orders.
      summary: Get User Open Orders
      tags:
      - Orders
      security:
      - API Credentials:
        - Read
      parameters:
      - description: Currency pair code
        in: query
        name: pair
        required: false
        schema:
          type: string
        example: BTC_BRL
      - in: query
        name: side
        required: false
        schema:
          $ref: '#/components/schemas/OrderSideParamV4'
      - in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSizeParamV4'
      - in: query
        name: current_page
        required: false
        schema:
          $ref: '#/components/schemas/CurrentPageParamV4'
      - description: The `c` parameter is the cursor you should use to fetch the next page of results
        in: query
        name: c
        required: false
        schema:
          type: string
      x-mcp:
        enabled: true
        name: get_user_open_orders
        usage: '- To list all currently active orders for a user

          - To monitor pending orders by trading pair or side

          - To check order status and remaining amounts'
  /orders/trades:
    get:
      operationId: GetTrades
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTradesResponseV4'
      description: 'Get the trades from an order.


        **Attention:** Due to performance concerns, this endpoint now uses cursor-based pagination. The pagination object currently included in the response is now a placeholder and will be entirely removed as of 2026-06-01. The parameter current_page is also a placeholder and will be removed at the same time. Please update your integration accordingly and refer to the documentation for the correct pagination handling.'
      summary: Get Trades based on a order id
      tags:
      - Orders
      security:
      - API Credentials:
        - Read
      parameters:
      - description: Order id from a valid order
        in: query
        name: order_id
        required: true
        schema:
          type: string
      - in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSizeParamV4'
      - description: The `c` parameter is the cursor you should use to fetch the next page of results
        in: query
        name: c
        required: false
        schema:
          type: string
      x-mcp:
        enabled: true
        name: get_trades_by_order_id
        usage: '- To list all trades that have the given order as maker or taker

          - To analyze order execution details and fill history

          - To track partial fills and trade timestamps for specific orders'
  /orders/{id}:
    get:
      operationId: GetOrderById
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrderResponse'
      description: Returns the details of an order belonging to the user (by id).
      summary: User Order by Id
      tags:
      - Orders
      security:
      - API Credentials:
        - Read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/OrderIdParamV4'
      x-mcp:
        enabled: true
        name: get_order_by_id
        usage: '- To retrieve detailed information about a specific order

          - To check order status, execution details, and transaction history

          - To get comprehensive order data including fees and timestamps'
  /orders/by-external-id/{external_id}:
    get:
      operationId: GetOrderByExternalId
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrderResponse'
      description: Returns the details of a order belonging to the user (by external id).
      summary: User Order by External Id
      tags:
      - Orders
      security:
      - API Credentials:
        - Read
      parameters:
      - in: path
        name: external_id
        required: true
        schema:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
      x-mcp:
        enabled: true
        name: get_order_by_external_id
        usage: '- To retrieve order details using custom external identifier

          - To track orders created with external reference IDs

          - To get order information when only external ID is available'
  /orders/cancel:
    post:
      operationId: CancelOrderByPost
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
      description: 'Cancels an active order by its `id` using POST.


        Publishes updates in the following websocket topics: [`orderbook`](#operation/orderbook), [`balance`](#operation/balance) and [`order_status`](#operation/order_status).'
      summary: Cancel Order
      tags:
      - Orders
      security:
      - API Credentials:
        - Buy/Sell
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
                  description: Order `id`
                  example: 7155ED34-9EC4-4733-8B32-1E4319CB662F
              required:
              - id
              type: object
      x-mcp:
        enabled: true
        name: cancel_order_post
        usage: '- To cancel an active order using POST method with order ID

          - To stop pending orders from executing via POST request

          - Alternative method for order cancellation when DELETE is not available'
  /orders/by-external-id:
    delete:
      operationId: CancelOrderByExternalId
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
      description: 'Cancels an active order by its `external_id`.


        Publishes updates in the following websocket topics: [`orderbook`](#operation/orderbook), [`balance`](#operation/balance) and [`order_status`](#operation/order_status).'
      summary: Cancel Order By External Id
      tags:
      - Orders
      security:
      - API Credentials:
        - Buy/Sell
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                external_id:
                  type: string
                  description: Order `external_id`
                  example: 0F4A8504-21FB-4BE6-9771-25DCF5F68F87
              required:
              - external_id
              type: object
      x-mcp:
        enabled: true
        name: cancel_order_by_external_id
        usage: '- To cancel an active order using custom external identifier

          - To stop orders when only external ID is available

          - To manage orders created with external reference tracking'
  /orders/cancel-by-external-id:
    post:
      operationId: CancelOrderByExternalIdByPost
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
      description: 'Cancels an active order by its `external_id` using POST.


        Publishes updates in the following websocket topics: [`orderbook`](#operation/orderbook), [`balance`](#operation/balance) and [`order_status`](#operation/order_status).'
      summary: Cancel Order By External Id
      tags:
      - Orders
      security:
      - API Credentials:
        - Buy/Sell
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                external_id:
                  type: string
                  description: Order `external_id`
                  example: 0F4A8504-21FB-4BE6-9771-25DCF5F68F87
              required:
              - external_id
              type: object
      x-mcp:
        enabled: true
        name: cancel_order_by_external_id_post
        usage: '- To cancel an active order using POST method with external ID

          - Alternative method for external ID order cancellation

          - To manage orders when DELETE method is not available'
  /orders/all:
    delete:
      operationId: CancelAllOrders
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllOrdersResponse'
      description: 'Cancels all the user''s active orders.


        Publishes updates in the following websocket topics: [`orderbook`](#operation/orderbook), [`balance`](#operation/balance) and [`order_status`](#operation/order_status).'
      summary: Cancel All Orders
      tags:
      - Orders
      security:
      - API Credentials:
        - Buy/Sell
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                pair:
                  type: string
                  description: Currency pair code
                  example: BTC_BRL
              type: object
      x-mcp:
        enabled: true
        name: cancel_all_orders
        usage: '- To cancel all active orders for a specific trading pair

          - To quickly close all open positions in emergency situations

          - To clear all pending orders for risk management'
  /orders/estimate-price/{pair}:
    get:
      operationId: EstimatePrice
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimatedPriceResponseV4'
      description: Estimates the market unit price for a specific amount of a given currency pair.
      summary: Estimate Price
      tags:
      - Orders
      security:
      - API Credentials:
        - Read
      parameters:
      - description: Currency pair code
        in: path
        name: pair
        required: true
        schema:
          type: string
        example: BTC_BRL
      - description: Amount to be used in the estimative.
        in: query
        name: amount
        required: true
        schema:
          format: double
          type: number
      - in: query
        name: side
        required: true
        schema:
          $ref: '#/components/schemas/OrderSideParamV4'
      x-mcp:
        enabled: true
        name: estimate_order_price
        usage: '- To estimate execution price for market orders before placement

          - To calculate expected costs for trading amounts

          - To preview order impact on market prices'
components:
  schemas:
    UserOrdersDataV4:
      properties:
        orders:
          items:
            $ref: '#/components/schemas/UserPreparedOrder'
          type: array
          example:
          - create_date: '2017-12-08T23:42:54.960Z'
            executed_amount: 0.02347418
            external_id: B4A9F7F4-9C79-4921-9330-224C17260BDF
            id: 857C0A3B-D70F-4256-9051-1C62FADBA8FA
            pair: BTC_BRL
            price: 42600
            remaining_amount: 0
            remaining_value: 0
            requested_amount: 0.02347418
            requested_value: 1000
            side: buy
            status: executed_completely
            total_value: 1000
            type: limit
            update_date: '2017-12-13T21:48:48.817Z'
            fee: 1
          - create_date: '2017-10-20T00:26:40.403Z'
            executed_amount: 0.00033518
            external_id: 13080055-7357-4110-81B1-981E6699FA57
            id: 3ECBE371-DE24-42E8-841C-4281B3164CCE
            pair: BTC_BRL
            price: 16352.12
            remaining_amount: 0
            remaining_value: 0
            requested_amount: 0.00033518
            requested_value: 5.48090358
            side: buy
            status: executed_completely
            total_value: 5.48090358
            type: limit
            update_date: '2017-10-20T00:26:40.467Z'
            fee: 1
        pagination:
          $ref: '#/components/schemas/PaginationV4'
        nc:
          type: string
          nullable: true
          description: Next cursor for pagination
        pc:
          type: string
          nullable: true
          description: Previous cursor for pagination
      required:
      - orders
      - pagination
      type: object
      additionalProperties: false
    Trade:
      properties:
        amount:
          type: number
          format: double
          description: Amount
        date:
          type: string
          description: Trade date (UTC format)
        id:
          type: string
          description: Trade id
        maker_order_id:
          type: string
          description: Maker order id
        maker_side:
          type: string
          description: Maker order side (sell / buy)
        maker_type:
          type: string
          description: Maker order type (market / limit)
        price:
          type: number
          format: double
          description: Price
        pair:
          type: string
          description: Currency pair code
          example: BTC_BRL
        taker_order_id:
          type: string
          description: Taker order id
        taker_side:
          type: string
          description: Taker order side (sell / buy)
        taker_type:
          type: string
          description: Taker order type (market / limit)
        timestamp:
          type: number
          format: double
          description: Current timestamp
          example: 1675708481219
        total_value:
          type: number
          format: float
          description: Total value
      required:
      - amount
      - date
      - id
      - maker_order_id
      - maker_side
      - maker_type
      - price
      - pair
      - taker_order_id
      - taker_side
      - taker_type
      - timestamp
      - total_value
      type: object
      additionalProperties: false
    StartDateTimeNoMinParamV4:
      type: string
      default: '[6 months ago]'
      example: '2020-01-01T00:00:00-03:00'
      format: datetime
      description: Initial datetime filter in ISO-8601 format
    OrderIdsParamV4:
      type: string
      example: a6f7f8b3-e531-4522-810c-4f726f796b10,1594d0af-9239-466b-805b-a4f5df5f16d9
      description: Identifiers list separated by commas (maximum of 10 identifiers)
    CeilingBuyOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - buy
          nullable: false
          description: Order's side (buy)
        type:
          type: string
          enum:
          - ceiling
          nullable: false
          description: Order's type (ceiling)
        value:
          type: number
          format: double
          description: Order value in quote currency
        fill_or_kill:
          type: boolean
          description: If set to `true`, the order will either be completely filled or canceled
      required:
      - pair
      - side
      - type
      - value
      type: object
      additionalProperties: false
      example:
        pair: BTC_BRL
        side: buy
        type: market
        amount: 0.1
        fill_or_kill: false
    UserOrdersResponseV4:
      properties:
        data:
          $ref: '#/components/schemas/UserOrdersDataV4'
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    PaginationV4:
      properties:
        current_page:
          type: number
          format: double
          description: Current page
        page_size:
          type: number
          format: double
          description: Page size
        registers_count:
          type: number
          format: double
          description: Total number of registers
        total_pages:
          type: number
          format: double
          description: Total number of pages
      required:
      - current_page
      - page_size
      - registers_count
      - total_pages
      type: object
      additionalProperties: false
      example:
        current_page: 1
        registers_count: 21
        total_pages: 1
        page_size: 100
    UserTradesDataV4:
      properties:
        trades:
          items:
            $ref: '#/components/schemas/UserPreparedTradeV4'
          type: array
          example:
          - amount: 0.00270754
            date: '2019-04-02T11:22:22.403Z'
            fee: 0.25
            fee_currency: USDC
            id: 488F9395-47ED-4924-98AB-C860E1733A03
            maker_order_id: 1FD30735-E055-4200-AD3D-007B02A5BA92
            pair_code: BTC_USDC
            taker_or_maker: maker
            price: 18550
            side: sell
            taker_order_id: DBC6D4AF-D454-46DF-80EC-E19528A0FB25
            timestamp: 1675708481219
            type: market
            total_value: 50.22
          - amount: 0.0026938
            date: '2019-04-02T11:25:41.512Z'
            fee: 1.347e-05
            fee_currency: BTC
            id: C79ED37D-DC21-4D54-8AFC-4262347E3F8D
            maker_order_id: F49F5BD8-3F5B-4364-BCEE-F36F62DB966A
            pair_code: BTC_USDC
            taker_or_maker: taker
            price: 18550
            side: buy
            taker_order_id: FEAB5CEC-7F9E-4F95-B67D-9E8D5C739BE3
            timestamp: 1675708481220
            type: market
            total_value: 49.96
        pagination:
          $ref: '#/components/schemas/PaginationV4'
        nc:
          type: string
          nullable: true
          description: This is the next cursor, use its value with the `c` parameter to retrieve the next page
        pc:
          type: string
          nullable: true
          description: This is the previous cursor, use its value with the `c` parameter to retrieve the previous page
      required:
      - trades
      - pagination
      type: object
      additionalProperties: false
    CancelAllOrdersData:
      properties:
        pair_code:
          type: string
          description: Pair code
          example: BTC_BRL
        order_id:
          type: string
          description: Order identifier
        success:
          type: boolean
          description: Success flag
      required:
      - pair_code
      - order_id
      - success
      type: object
      additionalProperties: false
    EndDateTimeNoMinParamV4:
      type: string
      default: '[Current datetime]'
      example: '2020-01-02T23:59:59-03:00'
      format: datetime
      description: Final datetime filter in ISO-8601 format
    EstimatedPriceResponseDataV4:
      properties:
        price:
          type: number
          format: double
          description: Estimated price
          example: 54049.12
      required:
      - price
      type: object
      additionalProperties: false
    CursorTradesResponseData:
      properties:
        trades:
          items:
            $ref: '#/components/schemas/Trade'
          type: array
          example:
          - amount: 0.2404764
            date: '2019-01-03T02:27:33.947Z'
            id: 2B222F22-5235-45FA-97FC-E9DBFA2575EE
            maker_order_id: F49F5BD8-3F5B-4364-BCEE-F36F62DB966A
            maker_side: buy
            maker_type: limit
            pair: BTC_BRL
            price: 15160
            taker_order_id: FEAB5CEC-7F9E-4F95-B67D-9E8D5C739BE3
            taker_side: sell
            taker_type: market
            timestamp: 1675708481219
            total_value: 3638.4
          - amount: 0.00563617
            date: '2019-01-03T02:27:33.943Z'
            id: CDC492A5-B1BF-4353-BE7A-43F51C371388
            maker_order_id: 53BF30D2-901C-43D5-B0D1-62CD05DFD02A
            maker_side: buy
            maker_type: limit
            pair: BTC_BRL
            price: 15163
            taker_order_id: E4B1B38D-C871-4476-9314-3DC23292F45E
            taker_side: sell
            taker_type: limit
            timestamp: 1675708481220
            total_value: 84.91
          - amount: 0.00680154
            date: '2019-01-03T02:27:33.940Z'
            id: 910AA20F-211F-4755-90A7-94227DB407D8
            maker_order_id: 1FD30735-E055-4200-AD3D-007B02A5BA92
            maker_side: buy
            maker_type: limit
            pair: BTC_BRL
            price: 15163.03
            taker_order_id: DBC6D4AF-D454-46DF-80EC-E19528A0FB25
            taker_side: sell
            taker_type: limit
            timestamp: 1675708481221
            total_value: 104.1
        nc:
          type: string
          nullable: true
          description: This is the next cursor, use its value with the `c` parameter to retrieve the next page
        pc:
          type: string
          nullable: true
          description: This is the previous cursor, use its value with the `c` parameter to retrieve the previous page
      required:
      - trades
      type: object
      additionalProperties: false
    UserTradesResponseV4:
      properties:
        data:
          $ref: '#/components/schemas/UserTradesDataV4'
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    CancelResponseData:
      properties:
        id:
          type: string
          description: Order identifier
        create_date:
          type: string
          description: Datetime of the order creation
        executed_amount:
          type: number
          format: float
          description: Executed amount
        remaining_amount:
          type: number
          format: float
          description: Remaining amount
        remaining_value:
          type: number
          format: float
          description: Remaining value
        requested_amount:
          type: number
          format: float
          description: Requested amount
        side:
          type: string
          description: Order side (sell / buy)
        status:
          type: string
          description: Order status (executed_completely / executed_partially / open / canceled)
        total_value:
          type: number
          format: float
          description: Total value
        type:
          type: string
          description: Order type (limit / market)
        price:
          type: number
          format: float
          description: Price
        update_date:
          type: string
          description: Datetime of the last update
        pair:
          type: string
          description: Currency pair code
          example: BTC_BRL
        external_id:
          type: string
          description: External id (this is sent by the user when creating an order, and it's optional)
          example: BEAB10B1-45B0-4999-9B2F-D2ED048D6C42
      required:
      - id
      - create_date
      - executed_amount
      - remaining_amount
      - remaining_value
      - requested_amount
      - status
      - total_value
      - price
      - update_date
      - pair
      type: object
      additionalProperties: false
      example:
        create_date: '2017-12-08T23:42:54.960Z'
        executed_amount: 0.02347418
        external_id: B4A9F7F4-9C79-4921-9330-224C17260BDF
        id: 7155ED34-9EC4-4733-8B32-1E4319CB662F
        pair: BTC_BRL
        price: 42600
        remaining_amount: 0.1
        remaining_value: 0.6
        requested_amount: 0.02347418
        requested_value: 1000
        side: buy
        status: canceled
        total_value: 1000
        type: limit
        update_date: '2017-12-13T21:48:48.817Z'
    MarketBuyOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - buy
          nullable: false
          description: Order's side (buy)
        type:
          type: string
          enum:
          - market
          nullable: false
          description: Order's type (market)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        value:
          type: number
          format: double
          description: Order value in quote currency
        fill_or_kill:
          type: boolean
          description: If set to `true`, the order will either be completely filled or canceled
      required:
      - pair
      - side
      - type
      - amount
      - value
      type: object
      additionalProperties: false
      example:
        pair: BTC_BRL
        side: buy
        type: market
        amount: 0.1
        fill_or_kill: false
      title: Buy Market
    UserPreparedTradeV4:
      properties:
        amount:
          type: number
          format: float
          description: Amount
        id:
          type: string
          description: Trade id
          format: string
        price:
          type: number
          format: float
          description: Price
        timestamp:
          type: number
          format: double
          description: Current timestamp
          example: 1675708481219
        total_value:
          type: number
          format: float
          description: Total value
        date:
          type: string
          description: Trade date
        side:
          type: string
          description: Order side (buy or sell)
        type:
          type: string
          description: Order type (limit or market)
        fee:
          type: number
          format: float
          description: Exchange fee
        fee_currency:
          type: string
          description: Code of the currency used to charge the fee
          example: BTC
        pair_code:
          type: string
          description: Currency pair code
          example: BTC_BRL
        taker_or_maker:
          type: string
          description: Provides or removes liquidity (maker or taker)
          example: maker
        maker_order_id:
          type: string
          description: Maker order id
          format: string
        taker_order_id:
          type: string
          description: Taker order id
          format: string
      required:
      - amount
      - id
      - price
      - timestamp
      - total_value
      - date
      - side
      - type
      - fee
      - fee_currency
      - pair_code
      - taker_or_maker
      - maker_order_id
      - taker_order_id
      type: object
      additionalProperties: false
    OrderIdParamV4:
      type: string
      example: 1594d0af-9239-466b-805b-a4f5df5f16d9
      description: Order identifier
    UserOpenOrdersResponseV4:
      properties:
        data:
          $ref: '#/components/schemas/UserOpenOrdersDataV4'
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    EndDateParamV4:
      type: string
      default: '[Current date]'
      format: date
      description: Final date filter in ISO-8601 format (the interval between the initial and final date shouldn't be greater than 6 months)
    OrderTypeParamV4:
      type: string
      enum:
      - limit
      - market
      - stop_limit
      - trailing
      - ceiling
      - iceberg
      description: Order type (limit, market, stop_limit, trailing, ceiling or iceberg)
    VoidResponse:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    StopLimitBuyOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - buy
          nullable: false
          description: Order's side (buy)
        type:
          type: string
          enum:
          - stop_limit
          nullable: false
          description: Order's type (stop_limit)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        price:
          type: number
          format: double
          description: Limit price
        stop_price:
          type: number
          format: double
          description: Stop price
      required:
      - pair
      - side
      - type
      - amount
      - price
      - stop_price
      type: object
      additionalProperties: false
      example:
        amount: 1
        pair: BTC_BRL
        price: 700000
        side: buy
        stop_price: 1
        type: stop_limit
    MarketSellOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - sell
          nullable: false
          description: Order's side (sell)
        type:
          type: string
          enum:
          - market
          nullable: false
          description: Order's type (market)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        value:
          type: number
          format: double
          description: Order value in quote currency
        fill_or_kill:
          type: boolean
          description: If set to `true`, the order will either be completely filled or canceled
      required:
      - pair
      - side
      - type
      - amount
      - value
      type: object
      additionalProperties: false
      example:
        pair: BTC_BRL
        side: sell
        type: market
        amount: 1
        fill_or_kill: false
      title: Sell Market
    UserOrderResponse:
      properties:
        data:
          $ref: '#/components/schemas/UserPreparedOrderWithExecutions'
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    TrailingBuyOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - buy
          nullable: false
          description: Order's side (buy)
        type:
          type: string
          enum:
          - trailing
          nullable: false
          description: Order's type (trailing)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        price:
          type: number
          format: double
          description: Limit price
        distance:
          type: number
          format: double
          description: Price distance
      required:
      - pair
      - side
      - type
      - amount
      - price
      - distance
      type: object
      additionalProperties: false
      example:
        pair: BTC_BRL
        side: buy
        type: trailing
        amount: 1
        distance: 1
    CancelAllOrdersResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CancelAllOrdersData'
          type: array
          example:
          - order_id: F6D2661E-4D6F-4770-BBE6-CC063CBA3770
            pair_code: BTC_BRL
            success: true
          - order_id: 7155ED34-9EC4-4733-8B32-1E4319CB662F
            pair_code: BTC_BRL
            success: false
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    CancelOrderResponse:
      properties:
        data:
          $ref: '#/components/schemas/CancelResponseData'
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    OrderUpdatePriceAmountOrderOnMarketBody:
      properties:
        unit_price:
          type: string
          description: New order price. Cannot be changed if it would immediately execute against existing orders
          example: '10'
        amount:
          type: string
          description: New order amount in base currency
          example: '100'
        order_id:
          type: string
          description: Unique identifier of the order to update
          example: 00CE34E9-0168-4050-9D58-10C705A1AC81
      required:
      - order_id
      type: object
      additionalProperties: false
    StopLimitSellOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - sell
          nullable: false
          description: Order's side (sell)
        type:
          type: string
          enum:
          - stop_limit
          nullable: false
          description: Order's type (stop_limit)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        price:
          type: number
          format: double
          description: Limit price
        stop_price:
          type: number
          format: double
          description: Stop price
      required:
      - pair
      - side
      - type
      - amount
      - price
      - stop_price
      type: object
      additionalProperties: false
      example:
        amount: 1
        pair: BTC_BRL
        price: 700000
        side: sell
        stop_price: 1
        type: stop_limit
    UserOrderOutput:
      properties:
        id:
          type: string
          description: Order identifier
        status:
          type: string
          description: Order status (executed_completely / executed_partially / open / canceled)
        create_date:
          type: string
          description: Datetime of the order creation
        external_id:
          type: string
          description: External id (this is sent by the user when creating an order, and it's optional)
          example: BEAB10B1-45B0-4999-9B2F-D2ED048D6C42
        pair:
          type: string
          description: Currency pair code
          example: BTC_BRL
        side:
          type: string
          description: Order side (sell / buy)
        executed_amount:
          type: number
          format: float
          description: Executed amount
        remaining_amount:
          type: number
          format: float
          description: Remaining amount
        remaining_value:
          type: number
          format: float
          description: Remaining value
        requested_amount:
          type: number
          format: float
          description: Requested amount
        requested_value:
          type: number
          format: float
          description: Requested value
      required:
      - id
      - status
      - create_date
      - pair
      - side
      - executed_amount
      - remaining_amount
      - remaining_value
      - requested_amount
      type: object
      additionalProperties: false
      example:
        id: 7155ED34-9EC4-4733-8B32-1E4319CB662F
        create_date: '2024-03-27T13:27:19.853Z'
        executed_amount: 0
        external_id: BEAB10B1-45B0-4999-9B2F-D2ED048D6C42
        pair: BTC_BRL
        remaining_amount: 10
        remaining_value: 1000
        requested_amount: 10
        requested_value: 1000
        side: buy
        status: open
    PageSizeParamV4:
      type: number
      format: int32
      default: 200
      example: 100
      description: Number of records per page
      maximum: 1000
      minimum: 1
    UserOrderTransactions:
      properties:
        amount:
          type: number
          format: double
          description: Execution amount in cryptocurrency
        create_date:
          type: string
          format: date-time
          description: Timestamp of the execution
        fee:
          type: number
          format: double
          description: Fee charged for this execution
        fee_currency:
          type: string
          description: Currency code in which the fee was charged
        total_value:
          type: number
          format: double
          description: Total execution value
        price:
          type: number
          format: float
          description: Execution price
      required:
      - amount
      - create_date
      - fee
      - fee_currency
      - total_value
      - price
      type: object
      additionalProperties: false
    StartDateParamV4:
      type: string
      default: '[10 days ago]'
      format: date
      description: Initial date filter in ISO-8601 format (shouldn't be before 2017-10-01)
    CursorTradesResponse:
      properties:
        data:
          $ref: '#/components/schemas/CursorTradesResponseData'
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    UserPreparedOrder:
      properties:
        id:
          type: string
          description: Order identifier
        create_date:
          type: string
          description: Creation datetime
        executed_amount:
          type: number
          format: float
          description: Executed amount
        external_id:
          type: string
          description: External id (this is sent by the user when creating an order, and it's optional)
        pair:
          type: string
          description: Currency pair code
          example: BTC_BRL
        remaining_amount:
          type: number
          format: float
          description: Remaining amount
        remaining_value:
          type: number
          format: float
          description: Remaining value
        requested_amount:
          type: number
          format: float
          description: Requested amount
        requested_value:
          type: number
          format: float
          description: Requested value
        status:
          type: string
          description: Order status (executed_completely / executed_partially / open / canceled)
        type:
          type: string
          description: Order type (limit / market)
        total_value:
          type: number
          format: float
          description: Total value
        side:
          type: string
          description: Order side (buy or sell)
        price:
          type: number
          format: float
          description: Price
        update_date:
          type: string
          description: Datetime of the last update
        fee:
          type: number
          format: float
          description: Fee from the transaction
        fill_or_kill:
          type: boolean
          description: Exclusive for StopLimit orders, it is used in stop-loss or stop-buy scenarios to initiate selling or buying when the market price reaches the specified stop price
      required:
      - id
      - create_date
      - executed_amount
      - pair
      - remaining_amount
      - remaining_value
      - requested_amount
      - status
      - type
      - total_value
      - side
      - price
      - update_date
      - fee
      - fill_or_kill
      type: object
      additionalProperties: false
    OrderExternalIdParamV4:
      type: string
      example: 0f4a8504-21fb-4be6-9771-25dcf5f68f87
      description: Order external identifier (maximum of 36 chars)
    IcebergBuyOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - buy
          nullable: false
          description: Order's side (buy)
        type:
          type: string
          enum:
          - iceberg
          nullable: false
          description: Order's type (iceberg)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        step_amount:
          type: number
          format: double
          description: Step amount (the ratio of amount to step_amount must be less than or equal to 10)
        price:
          type: number
          format: double
          description: Limit price
      required:
      - pair
      - side
      - type
      - amount
      - step_amount
      - price
      type: object
      additionalProperties: false
      example:
        amount: 10
        step_amount: 1
        pair: BTC_BRL
        price: 700000
        side: buy
        type: iceberg
    TrailingSellOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - sell
          nullable: false
          description: Order's side (sell)
        type:
          type: string
          enum:
          - trailing
          nullable: false
          description: Order's type (trailing)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        price:
          type: number
          format: double
          description: Limit price
        distance:
          type: number
          format: double
          description: Price distance
      required:
      - pair
      - side
      - type
      - amount
      - price
      - distance
      type: object
      additionalProperties: false
      example:
        pair: BTC_BRL
        side: sell
        type: trailing
        amount: 1
        distance: 1
    LimitSellOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - sell
          nullable: false
          description: Order's side (sell)
        type:
          type: string
          enum:
          - limit
          nullable: false
          description: Order's type (limit)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        price:
          type: number
          format: double
          description: Limit price
        post_only:
          type: boolean
          description: If set to `true`, the order will be added directly to the order book without an initial match, provided the request is valid
        expiration:
          type: number
          format: double
          description: If a valid timestamp is provided, the order will be created with an expiration date and time
        immediate_or_cancel:
          type: boolean
          description: If set to `true`, the order will not be added to the order book after the initial match, any remaining unfilled amount will result in the order being canceled
        fill_or_kill:
          type: boolean
          description: If set to `true`, the order will either be completely filled or canceled
      required:
      - pair
      - side
      - type
      - amount
      - price
      type: object
      additionalProperties: false
      example:
        pair: BTC_BRL
        side: sell
        type: limit
        amount: 1
        price: 700000
        post_only: false
        expiration: 1723073682
        immediate_or_cancel: false
        fill_or_kill: false
      title: Sell Limit
    OrderStatusParamV4:
      type: string
      enum:
      - executed_completely
      - executed_partially
      - open
      - canceled
      default: executed_partially
      description: Order status (string or string list separated by commas)
    UserOpenOrdersDataV4:
      properties:
        orders:
          items:
            $ref: '#/components/schemas/UserPreparedOrder'
          type: array
          example:
          - create_date: '2017-12-08T23:42:54.960Z'
            executed_amount: 0.02347418
            external_id: B4A9F7F4-9C79-4921-9330-224C17260BDF
            id: 857C0A3B-D70F-4256-9051-1C62FADBA8FA
            pair: BTC_BRL
            price: 42600
            remaining_amount: 0
            remaining_value: 0
            requested_amount: 0.02347418
            requested_value: 1000
            side: buy
            status: executed_completely
            fee: 0.004
            total_value: 1000
            type: limit
            update_date: '2017-12-13T21:48:48.817Z'
          - create_date: '2017-10-20T00:26:40.403Z'
            executed_amount: 0.00033518
            external_id: 13080055-7357-4110-81B1-981E6699FA57
            id: 3ECBE371-DE24-42E8-841C-4281B3164CCE
            pair: BTC_BRL
            price: 16352.12
            remaining_amount: 0
            remaining_value: 0
            requested_amount: 0.00033518
            requested_value: 5.48090358
            side: buy
            status: executed_completely
            fee: 0.004
            total_value: 5.48090358
            type: limit
            update_date: '2017-10-20T00:26:40.467Z'
        pagination:
          $ref: '#/components/schemas/PaginationV4'
        nc:
          type: string
          nullable: true
          description: Next cursor for pagination
        pc:
          type: string
          nullable: true
          description: Previous cursor for pagination
      required:
      - orders
      - pagination
      type: object
      additionalProperties: false
    UserPreparedOrderWithExecutions:
      properties:
        id:
          type: string
          description: Order identifier
        create_date:
          type: string
          description: Creation datetime
        executed_amount:
          type: number
          format: float
          description: Executed amount
        external_id:
          type: string
          description: External id (this is sent by the user when creating an order, and it's optional)
        pair:
          type: string
          description: Currency pair code
          example: BTC_BRL
        remaining_amount:
          type: number
          format: float
          description: Remaining amount
        remaining_value:
          type: number
          format: float
          description: Remaining value
        requested_amount:
          type: number
          format: float
          description: Requested amount
        requested_value:
          type: number
          format: float
          description: Requested value
        status:
          type: string
          description: Order status (executed_completely / executed_partially / open / canceled)
        type:
          type: string
          description: Order type (limit / market)
        total_value:
          type: number
          format: float
          description: Total value
        side:
          type: string
          description: Order side (buy or sell)
        price:
          type: number
          format: float
          description: Price
        update_date:
          type: string
          description: Datetime of the last update
        fee:
          type: number
          format: float
          description: Fee from the transaction
        fill_or_kill:
          type: boolean
          description: Exclusive for StopLimit orders, it is used in stop-loss or stop-buy scenarios to initiate selling or buying when the market price reaches the specified stop price
        average_execution_price:
          type: number
          format: double
          description: Average execution price
        transactions:
          items:
            $ref: '#/components/schemas/UserOrderTransactions'
          type: array
          description: Trades associated with the order
      required:
      - id
      - create_date
      - executed_amount
      - pair
      - remaining_amount
      - remaining_value
      - requested_amount
      - status
      - type
      - total_value
      - side
      - price
      - update_date
      - fee
      - fill_or_kill
      - transactions
      type: object
      additionalProperties: false
      example:
        average_execution_price: 42600
        create_date: '2017-12-08T23:42:54.960Z'
        external_id: C90796F2-2CC3-4797-9AC3-A16BCC6936F0
        executed_amount: 0.02347418
        id: 8DE12108-4643-4E9F-8425-0172F1B96876
        remaining_amount: 0
        requested_amount: 0.02347418
        requested_value: 1000
        remaining_value: 0
        pair: BTC_BRL
        price: 42600
        side: buy
        status: executed_completely
        fee: 0.002
        total_value: 1000
        type: limit
        update_date: '2017-12-13T21:48:48.817Z'
        transactions:
        - amount: 0.2
          create_date: '2020-02-21 20:24:43.433'
          fee: 0.12
          fee_currency: BTC
          price: 5000
          total_value: 1000
        - amount: 0.2
          create_date: '2020-02-21 20:49:37.450'
          fee: 0.12
          fee_currency: BTC
          price: 5000
          total_value: 1000
    LimitBuyOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - buy
          nullable: false
          description: Order's side (buy)
        type:
          type: string
          enum:
          - limit
          nullable: false
          description: Order's type (limit)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        price:
          type: number
          format: double
          description: Limit price
        post_only:
          type: boolean
          description: If set to `true`, the order will be added directly to the order book without an initial match, provided the request is valid
        expiration:
          type: number
          format: double
          description: If a valid timestamp is provided, the order will be created with an expiration date and time
        immediate_or_cancel:
          type: boolean
          description: If set to `true`, the order will not be added to the order book after the initial match, any remaining unfilled amount will result in the order being canceled
        fill_or_kill:
          type: boolean
          description: If set to `true`, the order will either be completely filled or canceled
      required:
      - pair
      - side
      - type
      - amount
      - price
      type: object
      additionalProperties: false
      example:
        amount: 0.1
        pair: BTC_BRL
        price: 700000
        side: buy
        type: limit
        post_only: false
        expiration: 1723073682
        immediate_or_cancel: false
        fill_or_kill: false
      title: Buy Limit
    OrderSideParamV4:
      type: string
      enum:
      - buy
      - sell
      description: Order side (buy or sell)
    CurrentPageParamV4:
      type: number
      format: int32
      default: 1
      example: 3
      description: Page number for pagination
    IcebergSellOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - sell
          nullable: false
          description: Order's side (sell)
        type:
          type: string
          enum:
          - iceberg
          nullable: false
          description: Order's type (iceberg)
        amount:
          type: number
          format: double
          description: Order amount in base currency
        step_amount:
          type: number
          format: double
          description: Step amount (the ratio of amount to step_amount must be less than or equal to 10)
        price:
          type: number
          format: double
          description: Limit price
      required:
      - pair
      - side
      - type
      - amount
      - step_amount
      - price
      type: object
      additionalProperties: false
      example:
        amount: 10
        step_amount: 1
        pair: BTC_BRL
        price: 700000
        side: sell
        type: iceberg
    EstimatedPriceResponseV4:
      properties:
        data:
          $ref: '#/components/schemas/EstimatedPriceResponseDataV4'
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    CreateOrderResponse:
      properties:
        data:
          $ref: '#/components/schemas/UserOrderOutput'
        error_code:
          type: number
          enum:
          - null
          nullable: true
          example: null
        message:
          type: string
          nullable: true
          example: null
      required:
      - data
      - error_code
      - message
      type: object
      additionalProperties: false
    CeilingSellOrderBody:
      properties:
        external_id:
          $ref: '#/components/schemas/OrderExternalIdParamV4'
        pair:
          type: string
          description: Currency pair code
        side:
          type: string
          enum:
          - sell
          nullable: false
          description: Order's side (sell)
        type:
          type: string
          enum:
          - ceiling
          nullable: false
          description: Order's type (ceiling)
        value:
          type: number
          format: double
          description: Order value in quote currency
        fill_or_kill:
          type: boolean
          description: If set to `true`, the order will either be completely filled or canceled
      required:
      - pair
      - side
      - type
      - value
      type: object
      additionalProperties: false
      example:
        pair: BTC_BRL
        side: sell
        type: ceiling
        amount: 1
        fill_or_kill: false
  securitySchemes:
    API Credentials:
      type: apiToken
      in: header
      name: Authorization
      description: "You can create API Credentials on: <https://trade.ripio.com/market/api/token>.\n\n After creating the **API Credentials**, you'll need to save in a safe place two pieces of information, an **API Token** and a **Secret Key**. The credentials are required respectively to **Authenticate** and **Sign** all Private REST Requests.\n\n **Attention**: The Secret Key can only be viewed once and cannot be retrieved later. **If you lose the Secret Key, delete the set of credentials and create a new one**. \n\n Each endpoint requires a type of access, which can be `Read`, `Buy/Sell`, `Cryptocurrency withdrawals`, or can contain all of these, each one for its own function. It is possible for the token to be `Read` only, or it may have several types, if it has any other type of access such as: `Buy/Sell` or `Cryptocurrency withdrawals`, it will also be `Read` by default.\n\n\n## Headers\n\n\nFor all private routes, these Headers are required:\n\n| Header       | Description   |\n|--------------|---------------|\n| **Authorization**     | The API Token as a string.    |\n| **Timestamp**     | A timestamp in milliseconds. See the Timestamp Security section for more details.    |\n| **Timestamp-tolerance**     | An additional, non-required parameter, that you can send to specify the number of milliseconds after the timestamp for the request to be valid. See the Timestamp Security section for more details.   |\n| **Signature**     | See the Generating Signature section for more details.   |\n\n## Timestamp Security\n\n Timestamp Security is a security method to guarantee the validation of the acceptable time window, in addition to guaranteeing the uniqueness of the request **Signature**.\n\n* **All Private Requests** also require a **Header** parameter, **Timestamp**, which must be the timestamp in milliseconds of when the request was created and sent. Can be generated with `Date.now()` if you're using JavaScript, for example.\n\n* An additional parameter, **Timestamp-tolerance**, non-required, may be sent to specify the max number of milliseconds after the timestamp, that the request is valid. If Timestamp-tolerance is not sent, it defaults to **5000 (5 seconds)**.\n\n*  **It is recommended to use a small Timestamp-tolerance of 5000 (5 seconds) or less. The maximum value is 60,000 (60 seconds)**. \n\n## Generating Signature\n\nTo create a signature for all Private Requests, you must **encrypt** the hash-based message using **sha256 HMAC** and encode it in **Base64**. \n\n The **message** must contain:\n\n```\nTimestamp + HTTP Method + Path + JSON Payload\n```\n * Not including the **'+'** sign, just concatenate the content into a string.\n\n* The **Timestamp** is the same as the one sent in the Header.\n\n* For **GET** Requests, it is necessary to consider the **PATH** without **Query Params**. For example, this route: `/withdrawals/estimate-rate/ADA?network=cardano_testnet`. Just `/withdrawals/estimate-fee` is considered. Additionally, the **BODY** is considered an empty **String**.\n\n* **JSON Payload** must be a string and must be the same as the one sent in the request **Body**.\n\n**IMPORTANT:** To prevent an invalid signature, avoid using unnecessary decimal places in the request body properties. For instance, use `1` instead of `1.0`. Alternatively, you can also send numbers as strings in the request body, ensuring they are in the same format but as strings. For example:\n\n```json\n{\n  'amount': '0.01',\n  'pair': 'BTC_BRL',\n  'price': '300000', \n  'side': 'buy', \n  'type': 'limit'\n}\n\n```\n\n### Examples \n\nWe provide functional examples of how to authenticate with this API, written in various programming languages. You can find these examples in our GitHub repository: https://github.com/ripio/api."
      scopes:
        Read: Endpoints / token with read access.
        Buy/Sell: Endpoints / token with Buy and Sell orders access.
        Crypto Withdrawals: Endpoints / token with Crypto Withdrawals access.
        Fiat Withdrawals: Endpoints / token with Fiat Withdrawals access.
x-websocket-api:
  description: "# WebSocket API\n\nThe WebSocket API allows you to perform trading operations (create, cancel, and update orders) via WebSocket connection. This is separate from the WebSocket Stream service which provides real-time market data.\n\n## General API Information\n\n- **Base endpoint**: `wss://ws-api.ripio.com`\n- Connections remain active as long as there is activity; idle connections are disconnected after **60 seconds** of inactivity\n- The WebSocket server will automatically send ping frames to maintain connection health\n- If the WebSocket server does not receive a pong frame back from the connection within **60 seconds**, the connection will be disconnected\n- When you receive a ping, you must send a pong with a copy of ping's payload as soon as possible\n- Unsolicited pong frames are allowed, but will not prevent disconnection\n- Authentication is done using **API Token, Secret, and Timestamp** (same as REST API)\n- All timestamps are in **milliseconds** in UTC\n- All field names and values are **case-sensitive**\n- APIs have a timeout of **10 seconds** when processing a request\n\n## Authentication\n\nThe WebSocket API uses the same authentication mechanism as the REST API, including API Token, Secret, and Timestamp-based signature generation.\n\nFor complete authentication details, including signature generation, please refer to the **Authorization** section.\n\n### Key Points for WebSocket API:\n\n- Use the same **API Token** and **Secret** from your REST API credentials\n- Include `apiToken`, `timestamp`, and `signature` in the `params` object of each request\n- The signature is generated using: **Timestamp + JSON Body (business parameters only)**\n\n### Signature Generation for WebSocket API\n\nUnlike the REST API, the WebSocket signature is simpler because there's no HTTP method or path:\n\n**Message to sign:** `Timestamp + JSON Body`\n\n**Where:**\n- `Timestamp`: The same timestamp sent in the `params.timestamp` field (in milliseconds)\n- `JSON Body`: **ONLY the business parameters** (pair, side, type, amount, price, etc.). **DO NOT include** `apiToken`, `timestamp`, or `signature` in the body to sign.\n\n**Important:** Do NOT include `+` signs - just concatenate the values directly.\n\n### Signature Example\n\n**Request to send:**\n```json\n{\n  \"id\": \"req-001\",\n  \"method\": \"order.create\",\n  \"params\": {\n    \"pair\": \"BTC_BRL\",\n    \"side\": \"buy\",\n    \"type\": \"limit\",\n    \"amount\": 0.001,\n    \"price\": 100000,\n    \"apiToken\": \"your-api-token\",\n    \"timestamp\": 1634567890000,\n    \"signature\": \"calculated-signature\"\n  }\n}\n```\n\n**Body to sign (only business params):**\n```json\n{\n  \"pair\": \"BTC_BRL\",\n  \"side\": \"buy\",\n  \"type\": \"limit\",\n  \"amount\": 0.001,\n  \"price\": 100000\n}\n```\n\n**Message to sign:**\n```\n1634567890000{\"pair\":\"BTC_BRL\",\"side\":\"buy\",\"type\":\"limit\",\"amount\":0.001,\"price\":100000}\n```\n\n**Then generate HMAC SHA256 signature:**\n```javascript\nconst crypto = require('crypto');\nconst message = timestamp.toString() + JSON.stringify(bodyParams);\nconst signature = crypto.createHmac('sha256', secretKey).update(message).digest('base64');\n```\n\n## Request Format\n\nAll WebSocket API requests must follow this format:\n\n```json\n{\n  \"id\": \"unique-request-id\",\n  \"method\": \"order.create\",\n  \"params\": {\n    ...body parameters...,\n    \"apiToken\": \"your-api-token\",\n    \"timestamp\": 1634567890000,\n    \"signature\": \"calculated-signature\"\n  }\n}\n```\n\n## Response Format\n\n### Success Response\n\n```json\n{\n  \"id\": \"unique-request-id\",\n  \"status\": 200,\n  \"result\": {\n    \"id\": \"7155ED34-9EC4-4733-8B32-1E4319CB662F\",\n    \"create_date\": \"2024-03-27T13:27:19.853Z\",\n    \"executed_amount\": 0,\n    \"external_id\": \"BEAB10B1-45B0-4999-9B2F-D2ED048D6C42\",\n    \"pair\": \"BTC_BRL\",\n    \"remaining_amount\": 10,\n    \"remaining_value\": 1000,\n    \"requested_amount\": 10,\n    \"requested_value\": 1000,\n    \"side\": \"buy\",\n    \"status\": \"open\"\n  }\n}\n```\n\n### Error Response\n\n```json\n{\n  \"id\": \"unique-request-id\",\n  \"status\": 400,\n  \"result\": null,\n  \"error\": {\n    \"error_code\": 40011,\n    \"message\": \"Insufficient funds.\"\n  }\n}\n```"
  methods:
    order.create:
      summary: Create Order via WebSocket
      description: Creates a new trading order via WebSocket API. Supports all order types available in the REST API including limit, market, stop-limit, trailing, ceiling, and iceberg orders.
      requestSchema:
        $ref: '#/components/schemas/WebSocketCreateRequest'
      responseSchema:
        $ref: '#/components/schemas/WebSocketResponse'
      errorSchema:
        $ref: '#/components/schemas/WebSocketErrorResponse'
      examples:
        limitBuyOrder:
          summary: Create Limit Buy Order
          value:
            id: req-001
            method: order.create
            params:
              apiToken: your-api-token
              timestamp: 1634567890000
              signature: calculated-signature
              pair: BTC_BRL
              side: buy
              type: limit
              amount: 0.001
              price: 100000
              external_id: my-order-123
        marketSellOrder:
          summary: Create Market Sell Order
          value:
            id: req-002
            method: order.create
            params:
              apiToken: your-api-token
              timestamp: 1634567890000
              signature: calculated-signature
              pair: ETH_BRL
              side: sell
              type: market
              amount: 0.1
              value: 1000
      successResponse:
        id: req-001
        status: 200
        result:
          id: 7155ED34-9EC4-4733-8B32-1E4319CB662F
          status: open
          create_date: '2024-03-27T13:27:19.853Z'
          external_id: my-order-123
          pair: BTC_BRL
          side: buy
          executed_amount: 0
          remaining_amount: 0.001
          remaining_value: 100
          requested_amount: 0.001
          requested_value: 100
    order.cancel:
      summary: Cancel Order via WebSocket
      description: Cancels an active trading order via WebSocket API. You can cancel by order ID or external ID.
      requestSchema:
        type: object
        properties:
          id:
            type: string
            description: Unique request identifier for correlation
          method:
            type: string
            enum:
            - order.cancel
            description: WebSocket API method
          params:
            type: object
            properties:
              apiToken:
                type: string
                description: API Token for authentication
              timestamp:
                type: integer
                format: int64
                description: Timestamp in milliseconds
              signature:
                type: string
                description: HMAC SHA256 signature
              id:
                type: string
                description: Order ID (use either id or external_id, not both)
              external_id:
                type: string
                description: External Order ID (use either id or external_id, not both)
            required:
            - apiToken
            - timestamp
            - signature
        required:
        - id
        - method
        - params
      responseSchema:
        $ref: '#/components/schemas/WebSocketCancelResponse'
      errorSchema:
        $ref: '#/components/schemas/WebSocketErrorResponse'
      examples:
        cancelById:
          summary: Cancel Order by ID
          value:
            id: req-003
            method: order.cancel
            params:
              apiToken: your-api-token
              timestamp: 1634567890000
              signature: calculated-signature
              id: 7155ED34-9EC4-4733-8B32-1E4319CB662F
        cancelByExternalId:
          summary: Cancel Order by External ID
          value:
            id: req-004
            method: order.cancel
            params:
              apiToken: your-api-token
              timestamp: 1634567890000
              signature: calculated-signature
              external_id: my-order-123
      successResponse:
        id: req-003
        status: 200
        result:
          id: 7155ED34-9EC4-4733-8B32-1E4319CB662F
          create_date: '2024-03-27T13:27:19.853Z'
          executed_amount: 0
          remaining_amount: 0.001
          remaining_value: 100
          requested_amount: 0.001
          status: canceled
          total_value: 100
          type: limit
          price: 100000
          update_date: '2024-03-27T13:30:45.123Z'
          pair: BTC_BRL
          external_id: my-order-123
    order.update:
      summary: Update Order via WebSocket
      description: Updates the price and/or amount of an existing active order via WebSocket API. It is not possible to change a canceled or fully executed order.
      requestSchema:
        type: object
        properties:
          id:
            type: string
            description: Unique request identifier for correlation
          method:
            type: string
            enum:
            - order.update
            description: WebSocket API method
          params:
            type: object
            properties:
              apiToken:
                type: string
                description: API Token for authentication
              timestamp:
                type: integer
                format: int64
                description: Timestamp in milliseconds
              signature:
                type: string
                description: HMAC SHA256 signature
              order_id:
                type: string
                description: Order ID to update
              price:
                type: number
                description: New unit price (optional, but at least one of price or amount must be provided)
              amount:
                type: number
                description: New order amount (optional, but at least one of price or amount must be provided)
            required:
            - apiToken
            - timestamp
            - signature
            - order_id
        required:
        - id
        - method
        - params
      responseSchema:
        $ref: '#/components/schemas/WebSocketUpdateResponse'
      errorSchema:
        $ref: '#/components/schemas/WebSocketErrorResponse'
      examples:
        updatePriceAndAmount:
          summary: Update Order Price and Amount
          value:
            id: req-005
            method: order.update
            params:
              apiToken: your-api-token
              timestamp: 1634567890000
              signature: calculated-signature
              order_id: 7155ED34-9EC4-4733-8B32-1E4319CB662F
              price: 105000
              amount: 0.002
        updatePriceOnly:
          summary: Update Order Price Only
          value:
            id: req-006
            method: order.update
            params:
              apiToken: your-api-token
              timestamp: 1634567890000
              signature: calculated-signature
              order_id: 7155ED34-9EC4-4733-8B32-1E4319CB662F
              price: 110000
        updateAmountOnly:
          summary: Update Order Amount Only
          value:
            id: req-007
            method: order.update
            params:
              apiToken: your-api-token
              timestamp: 1634567890000
              signature: calculated-signature
              order_id: 7155ED34-9EC4-4733-8B32-1E4319CB662F
              amount: 0.003
      successResponse:
        id: req-005
        status: 200
        result: null
x-webhooks:
  trade:
    post:
      summary: trade@BASE_QUOTE
      description: This topic listens for trades of a given pair (BASE_QUOTE), so it will be notified every time a trade happens.
      operationId: trade
      tags:
      - WebSocket Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRequest'
            example:
              method: subscribe
              topics:
              - trade@ETH_BRL
      responses:
        '200':
          description: Trade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IResponse_ISocketTrade_'
              example:
                id: 1
                topic: trade@ETH_BRL
                timestamp: 1672856503549
                body:
                  amount: 0.2404764
                  date: '2019-01-03T02:27:33.947Z'
                  id: 2B222F22-5235-45FA-97FC-E9DBFA2575EE
                  maker_order_id: F49F5BD8-3F5B-4364-BCEE-F36F62DB966A
                  maker_side: buy
                  maker_type: limit
                  pair: ETH_BRL
                  price: 15160
                  taker_order_id: FEAB5CEC-7F9E-4F95-B67D-9E8D5C739BE3
                  taker_side: sell
                  taker_type: market
                  timestamp: 1675780847920
                  total_value: 3638.4
  orderbook/level_3:
    post:
      summary: orderbook/level_3@BASE_QUOTE
      description: This topic will notify whenever an order is opened, canceled or a trade happens for the given pair (BASE_QUOTE). By default, the system notifies the topic every 30 seconds, even if a transaction has not taken place. Each side will contain up to 100 orders.
      operationId: orderbook/level_3
      tags:
      - WebSocket Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRequest'
            example:
              method: subscribe
              topics:
              - orderbook/level_3@ETH_BRL
      responses:
        '200':
          description: Level 3 orderbook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IResponse_IOrderBookLevel3_'
              example:
                id: 2
                topic: orderbook/level_3@ETH_BRL
                timestamp: 1672857013503
                body:
                  asks:
                  - amount: 184.9
                    id: 43758DB1-3257-4C98-A20F-7F246E460A50
                    price: 20
                  - amount: 10
                    id: 4B86ACC5-76B2-4003-AF20-F398CE9EDC92
                    price: 20
                  bids:
                  - amount: 400
                    id: B075FDF9-9B68-4299-87E0-5FC8B40B3ABD
                    price: 5
                  - amount: 20
                    id: 606763A5-4B95-4216-9F07-69C6B51D64F0
                    price: 5
                  pair: ETH_BRL
                  hash: '2254383345'
  orderbook/level_2:
    post:
      summary: orderbook/level_2@BASE_QUOTE
      description: This topic will notify whenever an order is opened, canceled or a trade happens for the given pair (BASE_QUOTE). Since it is a level 2 orderbook, the orders are going to be grouped by price. By default, the system notifies the topic every 30 seconds, even if a transaction has not taken place. Each side will contain up to 100 price levels.
      operationId: orderbook/level_2
      tags:
      - WebSocket Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRequest'
            example:
              method: subscribe
              topics:
              - orderbook/level_2@ETH_BRL
      responses:
        '200':
          description: Level 2 orderbook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IResponse_IOrderBookLevel2WithoutUsers_'
              example:
                id: 3
                topic: orderbook/level_2@ETH_BRL
                timestamp: 1672856653428
                body:
                  asks:
                  - amount: 184.9
                    price: 20
                  - amount: 10
                    price: 25
                  bids:
                  - amount: 400
                    price: 5
                  - amount: 20
                    price: 4
                  pair: ETH_BRL
                  hash: '2254383345'
  orderbook/level_2_delta:
    post:
      summary: orderbook/level_2_delta@BASE_QUOTE
      description: 'This topic will always notify a change at a price level of the order book when an order is opened, canceled or a trade takes place for a given pair (BASE_QUOTE). In other words, it is the variation in the amount of assets available for buy or sell at a given price level. In each topic event the `amount` is the absolute quantity for a price level, and if the `amount` is 0, you should remove the price level from the order book.


        **Important!** In addition to the delta messages, the first message sent upon connection will be a snapshot of the level 2 order book.'
      operationId: orderbook/level_2_delta
      tags:
      - WebSocket Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRequest'
            example:
              method: subscribe
              topics:
              - orderbook/level_2_delta@ETH_BRL
      responses:
        '200':
          description: Level 2 delta orderbook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IResponse_IOrderBookLevel2WithoutUsers_'
              example:
                id: 4
                topic: orderbook/level_2_delta@ETH_BRL
                timestamp: 1672856653428
                body:
                  asks:
                  - amount: 0
                    price: 25
                  bids:
                  - amount: 20
                    price: 25
                  pair: ETH_BRL
                  hash: '2254383345'
  orderbook/level_2_with_users:
    post:
      summary: orderbook/level_2_with_users@BASE_QUOTE
      description: This topic will notify whenever an order is opened, canceled or a trade happens for the given pair (BASE_QUOTE). Since it is a level 2 orderbook, the orders are going to be grouped by price, and this also includes an array with users ids that have an order at that level. By default, the system notifies the topic every 30 seconds, even if a transaction has not taken place. Each side will contain up to 100 price levels.
      operationId: orderbook/level_2_with_users
      tags:
      - WebSocket Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRequest'
            example:
              method: subscribe
              topics:
              - orderbook/level_2_with_users@ETH_BRL
      responses:
        '200':
          description: Level 2 orderbook with users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IResponse_IOrderBookLevel2_'
              example:
                id: 5
                topic: orderbook/level_2_with_users@ETH_BRL
                timestamp: 1672856653428
                body:
                  asks:
                  - amount: 184.9
                    price: 20
                    users:
                    - 5EF6B2C9-28C9-4C50-99EA-7F3A38958F0A
                  - amount: 10
                    price: 25
                    users:
                    - 5EF6B2C9-28C9-4C50-99EA-7F3A38958F0A
                  bids:
                  - amount: 400
                    price: 5
                    users:
                    - 5EF6B2C9-28C9-4C50-99EA-7F3A38958F0A
                  - amount: 20
                    price: 4
                    users:
                    - 5EF6B2C9-28C9-4C50-99EA-7F3A38958F0A
                  pair: ETH_BRL
                  hash: '2254383345'
  ticker:
    post:
      summary: ticker@BASE_QUOTE
      description: This topic delivers notifications for 24 hour window statistics for a pair (BASE_QUOTE), and this will happen whenever an order is opened, canceled or a trade happens for the given pair. By default, the system notifies the topic every 30 seconds, even if a transaction has not taken place.
      operationId: ticker
      tags:
      - WebSocket Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRequest'
            example:
              method: subscribe
              topics:
              - ticker@ETH_BRL
      responses:
        '200':
          description: Ticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IResponse_ITickerV4_'
              example:
                id: 6
                topic: ticker@ETH_BRL
                timestamp: 1672856683447
                body:
                  ask: 4.01
                  base_code: ETH
                  base_id: 27698137-8178-4395-9841-C1B1505C9352
                  conversions:
                  - currency_code: BRL
                    volume: 0
                  - currency_code: BTC
                    volume: 0
                  - currency_code: ETH
                    volume: 0
                  - currency_code: USD
                    volume: 0
                  - currency_code: USDC
                    volume: 0
                  - currency_code: UXD
                    volume: 0
                  - currency_code: ARS
                    volume: 0
                  - currency_code: MXN
                    volume: 0
                  bid: 5
                  date: '2022-09-28T19:13:40.887Z'
                  high: 20
                  low: 20
                  pair: ETH_BRL
                  price_change_percent_24h: '-16.66'
                  quote_code: BRL
                  quote_id: 48898138-8623-4555-9468-B1A1505A9352
                  quote_volume: 600
                  trades_quantity: 10
                  volume: 124
                  first: 10
                  last: 20
  order_status:
    post:
      summary: order_status
      description: This topic is responsible for notifing the user every time one of its orders is updated (created, executed, canceled).
      operationId: order_status
      tags:
      - WebSocket Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRequestWithTicket'
            example:
              method: subscribe
              topics:
              - order_status
              ticket: 97794B95-AFE7-454F-81B0-9109112548C2
      responses:
        '200':
          description: Order status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IResponse_IOrderStatus_'
              example:
                id: 7
                topic: order_status
                timestamp: 1672856713677
                body:
                  amount: 4
                  average_execution_price: 6
                  id: F55E4E01-C39B-4AA7-848B-1C6A362C386E
                  created_at: '2023-01-24T17:28:32.247Z'
                  executed_amount: 4
                  external_id: null
                  pair: ETH_BRL
                  price: 6
                  remaining_amount: 0
                  side: buy
                  status: executed_completely
                  type: limit
                  updated_at: '2023-01-24T17:28:33.993Z'
                  user_id: 30B8CDBB-BDBD-4B60-A90F-860AB46B76F7
  balance:
    post:
      summary: balance
      description: Every time there is a change in the user's balance, this topic will be notified. Actions like create / cancel order, deposit / withdraw currency or a trade being executed, are gonna change the use''s balance.
      operationId: balance
      tags:
      - WebSocket Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRequestWithTicket'
            example:
              method: subscribe
              topics:
              - balance
              ticket: 97794B95-AFE7-454F-81B0-9109112548C2
      responses:
        '200':
          description: Balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IResponse_SocketBalance_'
              example:
                id: 8
                topic: balance
                timestamp: 1672856833684
                body:
                  user_id: 299E7131-CE8C-422F-A1CF-497BFA116F89
                  balances:
                  - available_amount: 1
                    currency_code: BTC
                    locked_amount: 0.5
                    conversions:
                    - available_amount: 50003247
                      currency_code: UXD
                      locked_amount: 0
                    - available_amount: 10000649.4
                      currency_code: BRL
                      locked_amount: 0
                    - available_amount: 1
                      currency_code: BTC
                      locked_amount: 0.5
                    - available_amount: 20001.2988
                      currency_code: ETH
                      locked_amount: 0
                    - available_amount: 20001298.8
                      currency_code: USD
                      locked_amount: 0
                    - available_amount: 20001298.8
                      currency_code: USDC
                      locked_amount: 0
                  - available_amount: 3
                    currency_code: ETH
                    locked_amount: 1
                    conversions:
                    - available_amount: 4119989.31998
                      currency_code: UXD
                      locked_amount: 860.002145
                    - available_amount: 823997.86
                      currency_code: BRL
                      locked_amount: 172
                    - available_amount: 46.03340022
                      currency_code: BTC
                      locked_amount: 0.00960896
                    - available_amount: 3
                      currency_code: ETH
                      locked_amount: 1
                    - available_amount: 4119989.31
                      currency_code: USD
                      locked_amount: 860
                    - available_amount: 4119989.31998
                      currency_code: USDC
                      locked_amount: 860.002145
  user_trades:
    post:
      summary: user_trades
      description: When orders match, this topic notifies the users involved in the match process. Buyer and seller will get notified about what orders were executed.
      operationId: user_trades
      tags:
      - WebSocket Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRequestWithTicket'
            example:
              method: subscribe
              topics:
              - user_trades
              ticket: 97794B95-AFE7-454F-81B0-9109112548C2
      responses:
        '200':
          description: User Trades
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IResponse_UserTrades_'
              example:
                id: 9
                topic: user_trades
                timestamp: 1673271591764
                body:
                  trade:
                    amount: 1
                    date: '2023-01-09T13:39:24.057Z'
                    fee: 0
                    fee_currency: BCH
                    id: 08799ECC-F6B1-498E-B89C-2A05E6A181B9
                    maker_order_id: AF1C3AD2-D5A2-41CC-9A4C-646B600F9E01
                    pair_code: BCH_BRL
                    price: 49
                    side: buy
                    taker_or_maker: taker
                    taker_order_id: 52B46D87-86A1-4978-B141-4E18E3E47514
                    timestamp: 1675780847920
                    total_value: 49
                    type: limit
                  user_id: 30B8CDBB-BDBD-4B60-A90F-860AB46B76F7
  deposit:
    post:
[...]
